@charset "UTF-8";

/* ⊹₊˚‧︵‿₊୨ 𝐏𝐀𝐃𝐑𝐎𝐍𝐈𝐙𝐀𝐂̧𝐀̃𝐎 𝐃𝐀 𝐑𝐀𝐈𝐙 ୧₊‿︵‧˚₊⊹*/
:root {
    --amarelinho: #FFF9D9;
    --rosa-charme: #F5999A;
    --marrom-charme: #A67142;
    --marrom-escuro: #2b1400;
    --azul-charme: #91D8F7;

    --font-padrao:'Montserrat', sans-serif;
    --font-destaque: 'Young Serif', serif;
}

/* O Seletor Universal (*) Aplica as regras abaixo em todos os elementos da página, sem exceção (body, div, h1, p, etc). */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

.linha-estilizada {
    width: 500px;          /* Define o comprimento da linha */
    height: 1px;
    background-color: var(--marrom-charme);
    margin: 15px auto 30px; /* apenas uma declaração */
    border: none;

}

body {
    background-color: var(--amarelinho);
    color: var(--marrom-escuro);
    font-family: var(--font-padrao)
}

a {
    text-decoration: none; /* Tira o sublinhado dos links */
    color: black;
}

/* ⊹₊˚‧︵‿₊୨ 𝐈𝐍𝐃𝐄𝐗 ୧₊‿︵‧˚₊⊹*/

/* (づ˶•༝•˶)づ♡ 𝑯𝑬𝑨𝑫𝑬𝑹 */

/* (づ˶•༝•˶)づ♡ 1. 𝑴𝑬𝑵𝑼 𝑷𝑹𝑰𝑵𝑪𝑰𝑷𝑨𝑳 𝑬 𝑵𝑨𝑽*/
.menu-principal {
    display: flex;
    justify-content: space-between; /* Afasta o menu da logo da uniube */
    align-items: center;
    padding: 30px 50px;
    white-space: nowrap;
}

.menu {
    list-style: none; /* Tira as bolinhas pretas */
    display: flex;    /* Coloca os itens um ao lado do outro */
    gap: 30px;        /* Espaço entre os links */
    
}

.menu a {
    color: var(--marrom-charme);
    font-size: 12px;
    font-weight: 600;
}

/* (づ˶•༝•˶)づ♡ 2. 𝑳𝑶𝑮𝑶 𝑫𝑨 𝑼𝑵𝑰𝑼𝑩𝑬*/


/* (づ˶•༝•˶)づ♡ 3. 𝑯𝑬𝑹𝑶 - 𝑳𝑶𝑮𝑶 𝑮𝑹𝑨𝑵𝑫𝑬 */
.hero {
    text-align: center;
    padding: 20px 0 40px 0;
}

.hero img {
    max-width: 350px;
}

/* (づ˶•༝•˶)づ♡ 𝑴𝑨𝑰𝑵 */

/* (づ˶•༝•˶)づ♡ 4. 𝑫𝑬𝑺𝑻𝑨𝑸𝑼𝑬𝑺 𝑫𝑨 𝑺𝑬𝑴𝑨𝑵𝑨 */

/* arte de bordinha bege */
.onda{
    width: 100%; /* Faz a faixa esticar de ponta a ponta */
    display: block;   
}

/* (づ˶•༝•˶)づ♡ 5. 𝑪𝑨𝑹𝑫𝑺 𝑫𝑨𝑺 3 𝑭𝑶𝑻𝑶𝑺 */
.destaques {
    background: var(--rosa-charme);
    padding-bottom: 30px;
}

.titulo-destaques {
    text-align: center;
    color: var(--amarelinho);
    font-family: var(--font-destaque);
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.destaque-produtos {
    display: flex;
    justify-content: center;
    gap: 30px; /* Espaço entre os cartões */
}

.cards {
    background-color: var(--amarelinho);
    border-radius: 18px; /* Bordas arredondadas da caixa amarelinha */
    padding: 10px;
    width: 320px;
    white-space: nowrap;
}

.cards:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease;
}

.cards img {
    width: 100%;
    border-radius: 10px; /* Bordas arredondadas da foto */
    margin-bottom: 15px;
}

.cards h3 {
    font-family: var(--font-destaque);
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
}

.cards p {
    color: black;
    font-size: 18px;
}

/* (づ˶•༝•˶)づ♡ 𝑹𝑶𝑫𝑨𝑷𝑬́ */

.rodape-site {
    background-color: var(--marrom-charme);
    color: var(--amarelinho);
    text-align: left;
    margin-top: 0;
}

.img-faixa {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 0;
}
.creditos {
    padding: 30px;
}

.creditos p {
    font-size: 12px;
    line-height: 1.6;
    color: var(--amarelinho);
}

/* (づ˶•༝•˶)づ♡ 𝑨𝑺𝑰𝑫𝑬 */

.rodape-destaques {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    position: relative;
}

.botao-medida {
    background-color: var(--rosa-charme);
    color: var(--amarelinho);
    font-family: var(--font-destaque);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 25px;
    border-radius: 40px 0 0 40px; /* Borda arredondada só do lado esquerdo */
    position: absolute; /* Faz o botão "flutuar" colado na borda direita */
    right: 0;
}

.botao-medida img {
    width: 40px;
}

.como-medida{
    font-size: 20px;
    line-height: 1.2;
}

/* ⊹₊˚‧︵‿₊୨ 𝐌𝐄𝐃𝐈𝐃𝐀𝐒 ୧₊‿︵‧˚₊⊹*/

/* (づ˶•༝•˶)づ♡ 1: INTRODUÇÃO */
.medidas-intro {
    display: flex;
    justify-content: space-around; /* Coloca espaço entre o texto e a imagem */
    align-items: center; /* Alinha ambos ao centro verticalmente */
    padding: 60px 10% 0;
}

.titulo-medidas {
    font-family: var(--font-destaque);
    color: var(--rosa-charme);
    font-size: 48px;
    line-height: 1.3;
}

.img-pet-fita {
    width: 350px;
    align-self: flex-end;
}

/* (づ˶•༝•˶)づ♡TÍTULOS GERAIS DAS SECÇÕES */
.titulo-seccao {
    font-family: var(--font-destaque);
    color: var(--marrom-escuro);
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

/* (づ˶•༝•˶)づ♡ 2: ESSENCIAL (Fundo Azul) */
.medidas-essencial {
    background-color: var(--azul-charme);
    padding: 60px 10%;
}

.conteudo-essencial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px; /* Distância entre o cãozinho e o texto */
}

.img-cao-medida {
    width: 350px;
}

.textos-essenciais {
    max-width: 600px; /* Limita a largura do texto para não ficar muito esticado */
}

.textos-essenciais p {
    font-size: 16px;
    line-height: 1.6;
}

.titulo-3medidas {
    font-family: var(--font-padrao);
    color: var(--marrom-escuro);
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.lista-medidas {
    list-style: none;       /* Remove a numeração padrão do <ol> */
    padding-left: 0;        /* Remove o recuo padrão */
}

.lista-medidas li {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start; /* Alinha o topo do círculo com o topo do texto */
    gap: 10px;
}

.lista-medidas li strong {
    background-color: var(--amarelinho);
    color: var(--marrom-escuro);
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;         /* Impede que o círculo amasse */
    font-weight: bold;
}

/* (づ˶•༝•˶)づ♡ 3: TABELA (Fundo Rosa) */
.medidas-tabela-sec {
    background-color: var(--rosa-charme);
    padding: 60px 10% 60px 10%; /* só reduz o espaço de baixo */
    text-align: center;
    margin-bottom: 0;
}

.titulo-seccao{
    margin-bottom: 15px; /* Aumenta o espaço entre o título e a tabela */
}

.tabela-medidas {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.tabela-medidas th,
.tabela-medidas td {
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

.tabela-head {
    background-color: var(--azul-charme);
}

.tr-impar{
    background-color: white;
}

.tr-par{
    background-color: rgb(231, 231, 231);
}

/* ⊹₊˚‧︵‿₊୨ 𝐏𝐄𝐂̧𝐀𝐒 ୧₊‿︵‧˚₊⊹*/

/* (づ˶•༝•˶)づ♡ 1: TÍTULO PEÇAS ÚNICAS */

.titulo-pecas {
    font-family: var(--font-destaque);
    color: var(--marrom-charme);
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

/* (づ˶•༝•˶)づ♡ 2: INTRO DA PÁGINA */
.text-pecas {
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 40px;
}

/* arte de bordinha bege */
.produtos-section, .onda-pecas {
    width: 100%;
    display: block;
    object-fit: fill;
    margin-top: -31px;
}

/* (づ˶•༝•˶)づ♡ 3: SEÇÃO DE PRODUTOS */
.produtos-section {
    flex-wrap: wrap;
    padding: 30px 50px;
    background-color: var(--marrom-charme);
}

.produtos-grid {
    color: var(--amarelinho);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.produtos-card{
    background: var(--amarelinho);
    border-radius: 18px;
    padding: 10px;
    width: 320px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
    text-align: left;
}

.produtos-card:hover {
    transform: translateY(-5px);
}

.produtos-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.tit-prod {
    font-family: var(--font-destaque);
    color: var(--marrom-escuro);
    font-size: 20px;
    margin-bottom: 8px;
}

.produtos-card p {
    color: var(--marrom-escuro);
    font-size: 14px;
    margin-bottom: 12px;
}

.preco-pecas {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.btn-whatsapp {
    background-color: var(--rosa-charme);
    color: white;
    font-family: var(--font-padrao);
    font-size: 13px;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 40px;
    display: inline-block;
    transition: background-color 0.2s;
    white-space: nowrap
}

.btn-whatsapp:hover {
    background-color: var(--azul-charme); /* Cor de destaque ao passar o mouse */
}

/* (づ˶•༝•˶)づ♡ 2: INTRO DA PÁGINA */

.intro-pecas {
    text-align: center;
    padding: 40px 20px 20px;
    background-color: var(--amarelinho);
}

.intro-pecas h1 {
    font-family: var(--font-destaque);
    color: var(--rosa-charme);
    font-size: 32px;
}

/* ⊹₊˚‧︵‿₊୨ 𝐆𝐀𝐋𝐄𝐑𝐈𝐀 𝐃𝐄 𝐅𝐎𝐅𝐔𝐑𝐀𝐒 ୧₊‿︵‧˚₊⊹*/

/* ⊹₊˚‧︵‿₊୨ 𝐅𝐀𝐋𝐄 𝐂𝐎𝐍𝐎𝐒𝐂𝐎 ୧₊‿︵‧˚₊⊹*/
/* ⊹₊˚‧︵‿₊୨ 𝐋𝐈𝐍𝐊𝐒 ୧₊‿︵‧˚₊⊹*/
